In [2]:
name = 'zaid kamil'

In [3]:
type(name)

str

In [4]:
a = 120
b = 10.5
c = True
d = None

In [5]:
names = ['Nikhil', 'Rishabh', 'Deobrat','Sumit','Imadul',
        'Aman', 'Shoeb','Abhay','Maulik','Pranshu']

In [6]:
rainfall = [23.00, 123,52, 40.00, 90]

In [7]:
group = {1,2,3,1,2,3,4,1,2,5,3}

In [9]:
movie = {
    'name':'Fast 10',
    'rating':9.0,
    'rated_by':'Rishabh',
    'dated': '2023-05-22'
}

In [15]:
'Nikhil' in names

True

In [17]:
40.1 in rainfall

False