In [8]:
students = {
    'Maulik' : {
        'college':'MU',
        'type':'offline'
    },
    'Aman' : 'NPGC',
    'Abhay': 'NPGC',
    'Mazahir': 'AU',
    'Imadul': 'IU',
    'Prashutosh': 'SHUATS',
    'Shoeb': {
        'college': 'IET',
        'type':'online'
    },
    'Mandavi': {
        'college':'HNBGU',
        'type':'online'
    }
}

In [9]:
from pprint import pp

In [11]:
pp(students)

{'Maulik': {'college': 'MU', 'type': 'offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'}}

In [26]:
students['Mandavi']['type']

'online'

In [14]:
students['Shreya'] = {
    'college': 'BBDU',
    'type':'online'
}

In [24]:
pp(students)

{'Maulik': {'college': 'MU', 'type': 'offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'online'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'},
 'Shreya': {'college': 'BBDU', 'type': 'online'}}

In [28]:
students['Shoeb']['type'] = 'flexi'
pp(students)

{'Maulik': {'college': 'MU', 'type': 'offline'},
 'Aman': 'NPGC',
 'Abhay': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'flexi'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'},
 'Shreya': {'college': 'BBDU', 'type': 'online'}}

In [30]:
students.pop('Abhay')

'NPGC'

In [31]:
pp(students)

{'Maulik': {'college': 'MU', 'type': 'offline'},
 'Aman': 'NPGC',
 'Mazahir': 'AU',
 'Imadul': 'IU',
 'Prashutosh': 'SHUATS',
 'Shoeb': {'college': 'IET', 'type': 'flexi'},
 'Mandavi': {'college': 'HNBGU', 'type': 'online'},
 'Shreya': {'college': 'BBDU', 'type': 'online'}}

In [1]:
report = {
    'class10': {
        'rohan': {
            'english': 90,
            'maths': 95,
            'hindi': 85,
            'science': 95,
            'social': 95,
            'p.e.': 95,
        },
        'mohit': {
            'english': 50,
            'maths': 55,
            'hindi': 45,
            'science': 55,
            'social': 55,
            'p.e.': 95,
        },
        'shreya': {
            'english': 72,
            'maths': 75,
            'hindi': 65,
            'science': 75,
            'social': 75,
            'p.e.': 75,
        },
        'shubham': {
            'english': 82,
            'maths': 85,
            'hindi': 75,
            'science': 85,
            'social': 85,
            'p.e.': 85,
        },
        'shruti': {
            'english': 92,
            'maths': 55,
            'hindi': 85,
            'science': 65,
            'social': 95,
            'p.e.': 95,
        },   
        'alex':{
            'english': 92,
            'maths': 55,
            'hindi': 82,
            'science': 61,
            'social': 95,
            'p.e.': 95,
        },     
    }
}

In [33]:
pp(report)

{'class10': {'rohan': {'english': 90,
                       'maths': 95,
                       'hindi': 85,
                       'science': 95,
                       'social': 95,
                       'p.e.': 95},
             'mohit': {'english': 50,
                       'maths': 55,
                       'hindi': 45,
                       'science': 55,
                       'social': 55,
                       'p.e.': 95},
             'shreya': {'english': 72,
                        'maths': 75,
                        'hindi': 65,
                        'science': 75,
                        'social': 75,
                        'p.e.': 75},
             'shubham': {'english': 82,
                         'maths': 85,
                         'hindi': 75,
                         'science': 85,
                         'social': 85,
                         'p.e.': 85},
             'shruti': {'english': 92,
                        'maths': 55,
                        'hindi': 85,
                        'science': 65,
                        'social': 95,
                        'p.e.': 95},
             'alex': {'english': 92,
                      'maths': 55,
                      'hindi': 82,
                      'science': 61,
                      'social': 95,
                      'p.e.': 95}}}

In [2]:
print(report.keys())

dict_keys(['class10'])

In [3]:
report['class10'].keys()

dict_keys(['rohan', 'mohit', 'shreya', 'shubham', 'shruti', 'alex'])

In [4]:
report['class10']['rohan'].keys()

dict_keys(['english', 'maths', 'hindi', 'science', 'social', 'p.e.'])

In [6]:
report['class10']['rohan']['english']

90

In [7]:
report.values()

dict_values([{'rohan': {'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, 'mohit': {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, 'shreya': {'english': 72, 'maths': 75, 'hindi': 65, 'science': 75, 'social': 75, 'p.e.': 75}, 'shubham': {'english': 82, 'maths': 85, 'hindi': 75, 'science': 85, 'social': 85, 'p.e.': 85}, 'shruti': {'english': 92, 'maths': 55, 'hindi': 85, 'science': 65, 'social': 95, 'p.e.': 95}, 'alex': {'english': 92, 'maths': 55, 'hindi': 82, 'science': 61, 'social': 95, 'p.e.': 95}}])

In [11]:
print(report['class10'].values())

dict_values([{'english': 90, 'maths': 95, 'hindi': 85, 'science': 95, 'social': 95, 'p.e.': 95}, {'english': 50, 'maths': 55, 'hindi': 45, 'science': 55, 'social': 55, 'p.e.': 95}, {'english': 72, 'maths': 75, 'hindi': 65, 'science': 75, 'social': 75, 'p.e.': 75}, {'english': 82, 'maths': 85, 'hindi': 75, 'science': 85, 'social': 85, 'p.e.': 85}, {'english': 92, 'maths': 55, 'hindi': 85, 'science': 65, 'social': 95, 'p.e.': 95}, {'english': 92, 'maths': 55, 'hindi': 82, 'science': 61, 'social': 95, 'p.e.': 95}])

In [13]:
movies = {
    '3 idiots' : 'a story about 3 idiot frds',
    'lunchbox' : 'a story about a lunchbox',
    'dangal' : 'a story about a wrestler',
    'pk' : 'a story about an alien',
    'taare zameen par' : 'a story about a dyslexic child',
}

In [14]:
movies.items()

dict_items([('3 idiots', 'a story about 3 idiot frds'), ('lunchbox', 'a story about a lunchbox'), ('dangal', 'a story about a wrestler'), ('pk', 'a story about an alien'), ('taare zameen par', 'a story about a dyslexic child')])

In [21]:
for k, v in movies.items():
    print(f'{k:20}  {v}')

3 idiots              a story about 3 idiot frds
lunchbox              a story about a lunchbox
dangal                a story about a wrestler
pk                    a story about an alien
taare zameen par      a story about a dyslexic child

In [26]:
isinstance(report['class10'], dict) # verify if the object is a data type

True

In [34]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                for subject, marks in subjects.items():
                    print('  ->',subject,'=', marks)

class10
-> rohan
  -> english = 90
  -> maths = 95
  -> hindi = 85
  -> science = 95
  -> social = 95
  -> p.e. = 95
-> mohit
  -> english = 50
  -> maths = 55
  -> hindi = 45
  -> science = 55
  -> social = 55
  -> p.e. = 95
-> shreya
  -> english = 72
  -> maths = 75
  -> hindi = 65
  -> science = 75
  -> social = 75
  -> p.e. = 75
-> shubham
  -> english = 82
  -> maths = 85
  -> hindi = 75
  -> science = 85
  -> social = 85
  -> p.e. = 85
-> shruti
  -> english = 92
  -> maths = 55
  -> hindi = 85
  -> science = 65
  -> social = 95
  -> p.e. = 95
-> alex
  -> english = 92
  -> maths = 55
  -> hindi = 82
  -> science = 61
  -> social = 95
  -> p.e. = 95

In [39]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                total = 0 # reset total for each student
                for subject, marks in subjects.items():
                    total += marks
                print('  avg->',total//6)

class10
-> rohan
  avg-> 92
-> mohit
  avg-> 59
-> shreya
  avg-> 72
-> shubham
  avg-> 82
-> shruti
  avg-> 81
-> alex
  avg-> 80

In [45]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                total = sum(subjects.values())
                print('  avg->',total//6)

class10
-> rohan
  avg-> 92
-> mohit
  avg-> 59
-> shreya
  avg-> 72
-> shubham
  avg-> 82
-> shruti
  avg-> 81
-> alex
  avg-> 80

In [46]:
for cls, students in report.items():
    print(cls)
    if isinstance(students, dict):
        for name, subjects in students.items():
            print('->',name)
            if isinstance(subjects, dict):
                mm = None
                sub = None
                for subject, marks in subjects.items():
                    if mm is None or mm < marks:
                        mm = marks
                        sub = subject
                print('  max->',sub,mm)

class10
-> rohan
  max-> maths 95
-> mohit
  max-> p.e. 95
-> shreya
  max-> maths 75
-> shubham
  max-> maths 85
-> shruti
  max-> social 95
-> alex
  max-> social 95