In [3]:
x = 'Iceland'
for i in x:
    print(i)

I
c
e
l
a
n
d

i
s

c
o
u
n
t
r
y

In [4]:
y = '29031029093021903'
for i in y:
    print(i)

2
9
0
3
1
0
2
9
0
9
3
0
2
1
9
0
3

In [9]:
for i in ['apple','pomegranate','orange']:
    print(i)

apple
pomegranate
orange

In [15]:
for x in range(20,61,3):
    print(x)

20
23
26
29
32
35
38
41
44
47
50
53
56
59

In [17]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [18]:
total = 0
for i in range(1,501):
    total += i
print(total)

125250