In [1]:
x = (1,2,3)
print(x)
print(type(x))

(1, 2, 3)
<class 'tuple'>

In [2]:
y = 1, 2, 3, 4 # tuple packing
print(y)
print(type(y))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
print(x[0])
print(x[-1])
print(x[:2])

1
3
(1, 2)

In [4]:
x = (1,2,3,1,1,2,2,3,1,2,3,5,4)
ones = x.count(1)
print(ones)

4

In [5]:
x.index(5) # index of first 5

11

In [7]:
a = [1,2,3]
a[0] = 100
print(a)

[100, 2, 3]

In [8]:
b = (1,2,3)
b[0] = 100 # TypeError: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [11]:
a = ()
print(a)
a = list(a) # force to be a list
a.append(1)
a.append(2)
a.append(3)
a = tuple(a) # force to be a tuple
print(a)

()
(1, 2, 3)

sets

In [12]:
x = {1,2,3,4,5,6,1,2,3,}
x

{1, 2, 3, 4, 5, 6}

In [14]:
colors = {'red', 'green', 'blue', 'yellow', 'orange', 'brown', 'black','red'}
print(colors)

{'yellow', 'brown', 'orange', 'red', 'green', 'black', 'blue'}

In [16]:
colors.add('purple')
print(colors)

{'yellow', 'brown', 'orange', 'red', 'green', 'black', 'blue', 'purple'}

In [17]:
colors.remove('red')
print(colors)

{'yellow', 'brown', 'orange', 'green', 'black', 'blue', 'purple'}

In [19]:
accounts_section = {
    'Ajay', 'Vijay', 'Raju', "Sohan"
}
marketing_section = {
    'Ajay', 'Vijay','Ramesh', 'Suresh', "Mohan"
}

In [20]:
accounts_section | marketing_section # union

{'Ajay', 'Mohan', 'Raju', 'Ramesh', 'Sohan', 'Suresh', 'Vijay'}

In [21]:
accounts_section & marketing_section # intersection

{'Ajay', 'Vijay'}

In [22]:
accounts_section - marketing_section # difference

{'Raju', 'Sohan'}

In [23]:
marketing_section - accounts_section # difference

{'Mohan', 'Ramesh', 'Suresh'}

In [24]:
marketing_section ^ accounts_section # symmetric difference

{'Mohan', 'Raju', 'Ramesh', 'Sohan', 'Suresh'}

In [25]:
accounts_section.union(marketing_section) # union

{'Ajay', 'Mohan', 'Raju', 'Ramesh', 'Sohan', 'Suresh', 'Vijay'}